{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <!--DISPLAY PRODUCT BASED ON BRAND-->
  <div class="row">
    {% if brand %}
    {% for b in brand %}
    <div class="col-md-3 mt-3">
      <div class="card">
        <img src="{{url_for('static', filename= 'images/' + b.image_1)}}" alt="{{b.name}}" class="card-img-top"
          height="250px">
        <div class="card-body">
          <h5 class="text-center">{{b.name}}</h5>
          <p class="text-center">Price: Rs {{b.price}}</p>
          {% if b.discount > 0 %}
          <b class="text-danger">Discount: {{b.discount}}%</b>
          {% endif %}
        </div>
        <div class="card-footer">
          <a href="{{url_for('single_page', id=b.id)}}" class="float-start btn btn-sm btn-primary">Details</a>

          <!--Add to cart-->
          <form action="{{url_for('Addcart')}}" method="POST">
            <input type="hidden" name="product_id" value="{{b.id}}">
            <button type="submit" class="btn btn-sm btn-warning float-end">Add to Cart</button>

            <input type="hidden" name="quantity" value="1">
            {% set colors = b.colors.split(',') %}
            <select name="colors" id="colors" style="visibility: hidden;">
              {% for color in colors %}
              {% set col = color.split(':') %}
              <option value="{{col[0]}}">{{col[0]|capitalize }}</option>
              {% endfor %}
            </select>
          </form>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!--DISPLAY PRODUCT BASED ON CATEGORY-->
  <div class="row">
    {% elif get_cat_prod %}
    {% for get_cat in get_cat_prod %}
    <div class="col-md-3 mt-3">
      <div class="card">
        <img src="{{url_for('static', filename= 'images/' + get_cat.image_1)}}" alt="{{get_cat.name}}"
          class="card-img-top" height="250px">
        <div class="card-body">
          <h5 class="text-center">{{get_cat.name}}</h5>
          <p class="text-center">Price: Rs {{get_cat.price}}</p>
          {% if get_cat.discount > 0 %}
          <b class="text-danger">Discount: {{get_cat.discount}}%</b>
          {% endif %}
        </div>
        <div class="card-footer">
          <a href="{{url_for('single_page', id=get_cat.id)}}" class="float-start btn btn-sm btn-primary">Details</a>
          <form action="{{url_for('Addcart')}}" method="POST">
            <input type="hidden" name="product_id" value="{{get_cat.id}}">
            <button type="submit" class="btn btn-sm btn-warning float-end">Add to Cart</button>

            <input type="hidden" name="quantity" value="1" style="visibility: hidden;">
            {% set colors = get_cat.colors.split(',') %}

            <select name="colors" id="colors" style="visibility: hidden;">
              {% for color in colors %}
              {% set col = color.split(':') %}
              <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
              {% endfor %}
            </select>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!--DISPLAY ALL PRODUCTS IN HOME PAGE-->
  <div class="row"></div>
  {% else %}
  {% for product in products.items %}
  <div class="col-md-3 mt-3">
    <div class="card">
      <img src="{{url_for('static', filename= 'images/' + product.image_1)}}" alt="{{product.name}}"
        class="card-img-top" height="250px">
      <div class="card-body">
        <h5 class="text-center">{{product.name}}</h5>
        <p class="text-center">Price: Rs {{product.price}}</p>
        {% if product.discount > 0 %}
        <b class="text-danger">Discount: {{product.discount}}%</b>
        {% endif %}
      </div>
      <div class="card-footer">
        <a href="{{url_for('single_page', id=product.id)}}" class="float-start btn btn-sm btn-primary">Details</a>
        <form action="{{url_for('Addcart')}}" method="POST">
          <input type="hidden" name="product_id" value="{{product.id}}">
          <button type="submit" class="btn btn-sm btn-warning float-end">Add to Cart</button>

          <input type="hidden" name="quantity" value="1" min="1" max="{{product.stock}}">
          {% set colors = product.colors.split(',') %}

          <select name="colors" id="colors" style="visibility: hidden;">
            {% for color in colors %}
            {% set col = color.split(':') %}
            <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!--FOR PAGE NUMBERS-->
<div class="row mt-4">
  <div class="col text-center">
    {% if products.has_prev %}
    <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-sm btn-outline-info">Previous</a>
    {% endif %}
    <!-- 2 is the max no of items in a page, can change later-->
    {% if products.total > 2 %}
    {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
    {% if page_num %}
    {% if products.page == page_num %}
    <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-info">{{page_num}}</a>
    {% else %}
    <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-outline-info">{{page_num}}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if products.has_next %}
    <a href="{{url_for('home', page=products.next_num)}}" class="btn btn-sm btn-outline-info">Next</a>
    {% endif %}
  </div>
</div>

{% endif %}
</div>
</div>
{% endblock content %}