{% extends 'layout.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container mt-5">
    {% include '_messages.html' %}
    <table class="table table-sm table-condensed table-striped table-bordered">
        <thead>
            <th>Sr</th>
            <th>Order Id</th>
            <th>Ordered date</th>
            <th>Invoice</th>
            <th>Customer Id</th>
            <th>Orders</th>
            <th>Address</th>
            <th>Pincode</th>
        </thead>
        <tbody>
          {% for order, cust in cust_orders %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{ order.id}}</td>
            <td>{{ order.date_created}}</td>
            <td>{{ order.invoice }}</td>
            <td>{{ order.customer_id }}</td>
            <td>{{ order.orders }}</td>
            <td>{{ cust.address}}, {{cust.city}}, {{cust.state}}</td>
            <td>{{ cust.pincode}}</td>
            
          </tr>
          {% endfor %}
          </tbody>
         </table>
</div>
{% endblock content %}