<!--NAVBAR FOR ADMIN-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="../static/CovisafeIcon.png" alt="" width="60">
          <img src="../static/CovisafeText.png" alt="" width="110">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-body" aria-current="page" href="{{url_for('admin')}}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="{{url_for('brands')}}">Brands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="{{url_for('category')}}">Categories</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-body " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Add Stuff
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{url_for('addproduct')}}">Add Product</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{url_for('addbrand')}}">Add Brand</a></li>
                <li><a class="dropdown-item" href="{{url_for('addcat')}}">Add Category</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="{{url_for('logout')}}" class="nav-link text-body">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  <!--==========END NAVBAR ==============-->